@import url(fonts.css);

@import url(reset.css);

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#container {
	margin: 0 auto;
}

.header {
	border-bottom: 1px solid #bfbfbf;
	box-shadow: 0 0 3px #dbdbdb;
	padding-top: 6px;

}

.wrap {
	margin: 0 auto;
}

.header .wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.header .header_left {
	align-self: center;
}

.header .header_right {
	display: flex;
	justify-content: space-between;
}

#topmenu {
	color: #8e8e8e;
	padding-top: 8px;
}

#topmenu a {
	color: #8e8e8e;
	text-decoration: none;
}

#topmenu a:hover {
	color: #dd5555;
}

.socials {
    display: flex;
	margin-left: 13px;
}

.socials a {
	margin-top: 9px;
	margin-right: 17px;
}

.socials .twitter {
	background: url(../images/twitter.png) no-repeat;
	height: 11px;
	width: 13px;
}

.socials .twitter:hover {
	background-position: -13px;
}

.socials .vimeo {
	background: url(../images/vimeo.png) no-repeat;
	height: 11px;
	width: 13px;
}

.socials .vimeo:hover {
	background-position: -13px;
}

.socials .facebook {
	background: url(../images/facebook.png) no-repeat;
	height: 13px;
	width: 7px;
}

.socials .facebook:hover {
	background-position: -7px;
}

.socials .instagram {
	background: url(../images/instagram.png) no-repeat;
	height: 12px;
	width: 12px;
}

.socials .instagram:hover {
	background-position: -12px;
}

.socials .dribbble {
	background: url(../images/dribbble.png) no-repeat;
	height: 13px;
	width: 13px;
}

.socials .dribbble:hover {
	background-position: -13px;
}

.socials .reddit {
	background: url(../images/reddit.png) no-repeat;
	height: 12px;
	width: 13px;
}

.socials .reddit:hover {
	background-position: -13px;
}

#content {
	background-color: #e9e9e9;
	padding: 20px 0;
}

#content .wrap {
	padding: 0 15px;
}

#content .wrap nav {
	border-bottom: 1px solid #bfbfbf;
	display: flex;
	justify-content: space-between;
}

#content #menu > ul {
	display: flex;
}

#content #menu li {
	margin-right: 20px;
}

#content #menu ul a {
	color: #3f3f3f;
	display: block;
	font-weight: bold;
	padding-bottom: 15px;
	text-decoration: none;
}

#content #menu ul a:hover {
	border-bottom: 1px solid #d55;
	color: #d55;
	padding-bottom: 14px;
}

#content .wrap .submenu {
	position: relative;
}

#content .wrap .submenu ul {
	background-color: #f9f9f9;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-shadow: 0 0 5px #d5d5d5;
	display: none;
	left: 0;
	position: absolute;
	top: 20px;
	width: 200px;
	z-index: 10;
}

#content .wrap .submenu:hover ul{
	display: block;
}

#content .wrap #menu ul .submenu > a {
	background: url(../images/triangle.png) no-repeat right 20%;
	padding-right: 10px;
}

#content .wrap #menu ul .submenu ul li {
	margin-right: 0;
}

#content .wrap #menu ul .submenu ul li a:hover {
	background-color: #dd5555;
	color: #fff;
	cursor: pointer;
} 

#content .wrap #menu ul .submenu ul a {
	font-weight: normal;
	padding: 15px;
}

.search {
	margin-top: -10px;
	margin-right: 10px;
}

.search input[type="text"] {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #555;
	margin-right: -30px;
	padding: 7px 0 7px 7px;
}

.search input[type="image"] {
	margin-bottom: -3px;
}

#content h1 {
	color: #3f3f3f;
	font-family: rsl;
	font-size: 220%;
	margin-top: 30px;
	text-align: center;
}

#content span {
	font-family: rsr;
}

#content .subtitle {
	color: #848484;
	font-family: rsl;
	font-size: 130%;
	margin-top: 15px;
	text-align: center;
}

#content #gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

#content #gallery .element {
	background-color: #f9f9f9;
	border: 1px solid #bfbfbf;
	box-shadow: 0 0 3px #dadada;
	margin: 15px 0;
	width: 23%;
}

#content #gallery .element .top {
	position: relative;
}

#content #gallery .element .top:hover .social {
	display: block;
}

#content #gallery .element .top:hover:before {
	background: rgba(0, 0, 0, 0.2);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

#content #gallery .element .top .social {
	display: none;
	left: 10px;
	position: absolute;
	top: 10px;
	z-index: 10;
}

#content #gallery .element .top .social p {
	color: #848484;
	background-color: #fcf7f6;
	border-radius: 4px;
	padding: 10px;
}

#content #gallery .element .top .social .download {
	background: url(../images/download.png) no-repeat left center;
	padding-left: 25px;
}

#content #gallery .element .top .social .like {
	background: url(../images/like.png) no-repeat left center;
	padding-left: 25px;
}

#content #gallery .element .top img {
	width: 100%;
}

#content #gallery .element .bottom {
	padding: 15px;
}

#content #gallery .element .bottom a {
	color: #555;
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
}

#content #gallery .element .bottom a:hover {
	color: #d55;
}

#content #gallery .element .bottom .date {
	color: #b0afae;
	font-size: 80%;
	margin: 8px 0;
}

#content #gallery .element .bottom .intro {
	color: #848484;
	line-height: 120%;
	margin: 8px 0;
}

#content #pagination {
	margin: 25px 0;
}

#content #pagination ul {
	display: flex;
	justify-content: center;
}

#content #pagination ul li {
	margin: 0 4px;
}

#content #pagination ul li a {
	border: 1px solid #bfbfbf;
	border-radius: 50%;
	color: #848484;
	display: inline-block;
	font-size: 110%;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	width: 32px;
}

#content #pagination ul li.active a, #content #pagination ul li a:hover {
	color: #d55;
}

#content #pagination ul li.active a {
	border-color: #d55;
}

#content #pagination ul span {
	color: #848484;
	display: inline-block;
	padding-top: 20px;
}

#content #banner {
	text-align: center;
	margin: 20px 0;
}

#content #banner a {
	background-color: #fff;
	border: 1px solid #bfbfbf;
	box-shadow: 0 0 3px #dadada;
	display: inline-block;
	padding: 10px;
}

#footer {
	background-color: #f9f9f9;
	border-top: 1px solid #bfbfbf;
	box-shadow: 0 0 5px #dadada;
	padding: 15px;
}

#footer .wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#footer .wrap .left {
	width: 30%;
}

#footer .wrap .left p {
	color: #848484;
	line-height: 140%;
}

#footer .wrap .center {
	display: flex;
	justify-content: space-between;
	width: 25%;
}

#footer .wrap .center .menu p, #footer .wrap .center .social p {
	color: #555;
	display: inline-block;
	font-weight: bold;
	margin: 15px 0;
}

#footer .wrap .center .menu ul li, #footer .wrap .center .social ul li {
	margin-bottom: 10px;
}

#footer .wrap .center .menu ul li a, #footer .wrap .center .social ul li a {
	color: #848484;
	text-decoration: none;
}

#footer .wrap .center .menu ul li a:hover, #footer .wrap .center .social ul li a:hover {
	color: #d55;
}

#footer .wrap .center .social li {
	cursor: pointer;
	padding-left: 20px;
	position: relative;
}

#footer .wrap .center .social li:before {
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 8%;
}

#footer .wrap .center .social .twitter:before {
	background: url(../images/twitter.png) no-repeat;
	height: 11px;
	width: 13px;
}

#footer .wrap .center .social .twitter:hover:before {
	background-position: -13px;
}

#footer .wrap .center .social .vimeo:before {
	background: url(../images/vimeo.png) no-repeat;
	height: 11px;
	width: 13px;
}

#footer .wrap .center .social .vimeo:hover:before {
	background-position: -13px;
}

#footer .wrap .center .social .facebook:before {
	background: url(../images/facebook.png) no-repeat;
	height: 13px;
	width: 7px;
}

#footer .wrap .center .social .facebook:hover:before {
	background-position: -7px;
}

#footer .wrap .center .social .instagram:before {
	background: url(../images/instagram.png) no-repeat;
	height: 12px;
	width: 12px;
}

#footer .wrap .center .social .instagram:hover:before {
	background-position: -12px;
}

#footer .wrap .center .social .dribbble:before {
	background: url(../images/dribbble.png) no-repeat;
	height: 13px;
	width: 13px;
}

#footer .wrap .center .social .dribbble:hover:before {
	background-position: -13px;
}

#footer .wrap .center .social .reddit:before {
	background: url(../images/reddit.png) no-repeat;
	height: 12px;
	width: 13px;
}

#footer .wrap .center .social .reddit:hover:before {
	background-position: -13px;
}

footer {
	background-color: #fff;
	border-top: 1px solid #bfbfbf;
	box-shadow: 0 0 5px #dadada;
	padding: 15px 0;
}

footer .wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

footer .wrap .left {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .wrap .left p {
	color: #979797;
	font-size: 90%;
}

footer .wrap .left .menu {
	margin-left: 10px;
}

footer .wrap .left .menu a {
	color: #8e8e8e;
	font-weight: bold;
	text-decoration: none;
}

footer .wrap .left .menu a:hover {
	color: #d55;
}

footer .wrap .left .menu span {
	color: #8e8e8e;
	margin: 0 5px;
}

footer .wrap .right {
	color: #8e8e8e;
}

footer .wrap .right a {
	color: #d55;
	font-weight: bold;
	text-decoration: none;
}